
<div style="display: flex;">
    <MudButton Variant="Variant.Text" Color="Color.Primary">新建</MudButton>
    <MudButton Variant="Variant.Text" Color="Color.Secondary">保存全部</MudButton>
    <MudSpacer />
    <MudIconButton Color="Color.Error" Icon="@Icons.Material.Filled.Close" OnClick="@(() => Common.InvokeArticleListClicked())"></MudIconButton>
</div>
<MudTextField T="string" Label="搜点什么？" Variant="Variant.Outlined" Clearable Margin="Margin.Dense"></MudTextField>
<MudList T="string" @bind-SelectedValues="SelectedValues" Dense="true" SelectionMode="SelectionMode.MultiSelection" CheckBoxColor="Color.Primary">
    <MudListSubheader>双击以载入文章</MudListSubheader>
    <MudListItem Text="123">
        <div style="display: flex;">
            <MudText>123</MudText>
            <MudSpacer />
            <MudTooltip Text="未保存"><MudIcon Icon="@Icons.Material.Filled.Circle" Color="Color.Warning" Size="Size.Small" /></MudTooltip>
        </div>
    </MudListItem>
    <MudListItem Text="456">
        <div style="display: flex;">
            <MudText>456</MudText>
            <MudSpacer />
            <MudTooltip Text="已打开"><MudIcon Icon="@Icons.Material.Filled.Circle" Color="Color.Info" Size="Size.Small" /></MudTooltip>
        </div>
    </MudListItem>
    <MudListItem Text="789">
        <MudText>789</MudText>
    </MudListItem>    
</MudList>
<div style="margin-top: 16px; display: flex; position: sticky; bottom: 0; background-color: var(--mud-palette-drawer-background)">
    <MudButton Variant="Variant.Text" Color="Color.Primary">全选</MudButton>
    <MudButton Variant="Variant.Text" Color="Color.Secondary">反选</MudButton>
    <MudSpacer />
    <MudButton Variant="Variant.Text" Color="Color.Error">隐藏</MudButton>
    <MudButton Variant="Variant.Text" Color="Color.Error">删除</MudButton>
</div>

@code {
    public IReadOnlyCollection<string> SelectedValues = [];
}
