# This is a basic workflow to help you get started with Actions

name: ProjectBuild
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  Build:
    # The type of runner that the job will run on
    runs-on: windows-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4.1.1
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
        
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1
      
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1
    
    - name: Restore NuGet packages
      run: nuget restore HexoArticleEditor.sln 
      
    - name: Run MSBuild
      run: msbuild HexoArticleEditor.sln

    - name: Publish Release
      run: dotnet publish HexoArticleEditor.csproj /p:PublishProfile=FolderProfile.pubxml

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
             name: HexoArticleEditor
             path: bin\Release\net8.0\win-x64\publish\
